[submodule "data_preprocessing"]
    path = classification_projects/oscillators_classification_in_game_of_life/data_preprocessing
    url = https://github.com/cayscays/oscillators-7x7-dataset-game-of-life
    branch = main
    tag = 1.0
